@model Currency.Models.CursShow
@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <p>
        Курс валюты: @Model.Curs
    </p>
    <p>
        Код валюты: @Model.Str
    </p>

</div>